:root {
  --button: linear-gradient(135deg, rgb(229, 94, 13) 0%, rgb(207, 50, 24) 100%);
  --orange: rgb(229, 94, 13);
  --bg: #ffffff;
  --primary: #f0f3f5;
  --secondary: #212a30;
  --text: #212a30;
  --padding: 10rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
  font-weight: 700;
}

@media screen and (max-width: 1000px) {
  :root {
    --padding: 5rem;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --padding: 1rem;
  }
}
